*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.global__corona {
  width: 100%;
  min-height: 200px;
  display: flex;
}
.global__item {
  width: 33.33%;
  padding: 10px;
  border: 1px solid #ccc;
}
.wrapper {
  max-width: 1000px;
  margin: 10px auto;
  padding: 5px 15px;
}
