.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  color: orange;
  font-weight: 700;
}
